@{
    ViewBag.Title = "Register";
}

@using System.Security.Claims

<h2>Mr. Fix-It</h2>
<hr />
@if (User.Identity.IsAuthenticated)
{
    <h4>Hello @User.Identity.Name!</h4>

} else
{
    <p><a asp-controller="Account" asp-action="Register">register</a></p>
    <p><a asp-controller="Account" asp-action="Login">log in</a></p>
}



