@{
    ViewData["Title"] = "Create";
}

@model MrFixIt.Models.Job

<h2>Create new Job</h2>
<hr />

<h4>Add a new job</h4>
<form asp-controller="Jobs" asp-action="Create">
    <div class="form-group">
        <label asp-for="Title"></label>
        <input class="form-control" asp-for="Title" />
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <input class="form-control" asp-for="Description" />
    </div>
    <input type="submit" value="Add new Job" class="btn btn-default" />
</form>
<a asp-controller="Jobs" asp-action="Index">Back to list</a>
